:root {
   --cor1: #0CD5F6;
   --cor2: #0B83D4;
   --cor3: #004EEB;
   --cor4: #0B19D4;
   --cor5: #3B0CF6;
}
*{
   margin: 0;
   padding: 0;
}
body{
   background: var(--cor2);
}
nav{
   background: var(--cor3);
   padding: 20px 0;
   border-bottom: 3px solid var(--cor4);
   text-align: center;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
}
main{
   padding: 10px;
   margin-top: 10px;
}
.contende{
   display: grid;
   grid-template-columns: repeat(5,1fr) ;
   gap: 30px;
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
}
.card{
   aspect-ratio: 3/4;
   width: 100%;
   transition: all 300ms ease;
   transform-style: preserve-3d;
   margin-bottom: 10px;
   position: relative;
}
.face{
   width: 100%;
   height: 100px;
   border-radius: 5px;
   background: #fff;
   position: absolute;
}
.traz{
   transform: rotateY(180deg);
   background-size: cover;
   background-position: center;
}
.frente{
   background-image: url(../img/gtasan/gtasa.png);
   backface-visibility: hidden;
   background-size: cover;
   background-position: center;
}
.revela{
   transform: rotateY(180deg);
}
.acerto{
   filter: saturate(0);
   border: 2px solid red;
}
footer{
   background: var(--cor3);
   height: 50px;
   padding: 25px;
   margin-top: 143px;
}
#cont{
   display: flex;
   align-items: center;
   justify-items: center;
   flex-wrap: wrap;
   width: 50;
}
.b{
   flex: 25%;
   width: 50px;
   height: 30px;
   background: var(--cor5);
   border-radius: 5px;
   /*display: block;*/
   text-align: center;
   font-size: 30px;
   color: gray;
   padding-bottom: 10px;
   box-shadow: 4px 3px 10px #42445A4A;
   text-shadow: 3px 5px 13px #00000099;
   margin: 2%;
}
.sol{
   display: none;
   background: #000;
}
.PretoClaro{
   background: #454545E3;
   border-bottom: 3px solid #000;
}
.none{
   display: none;
}
.block{
   display: block;
}
.volta{
   text-decoration: none;
   color: #fff;
   display: block;
}
.volta:hover{
   background: var(--cor4);
   border-radius: 5px;
}
.preto{
   background: #000;
}



